<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Calificaciones del Estudiante</title>
</head>
<body>
    <h1>Calificaciones del Estudiante ID: {{ .student_id }}</h1>
    <ul>
        {{ range .grades }}
        <li>
            ID de Calificación: {{ .GradeID }} - Materia ID: {{ .SubjectID }} - Calificación: {{ .Grade }}
            <form action="/escuela/grades/{{ .GradeID }}" method="post" style="display:inline">
                <button type="submit">Eliminar</button>
            </form>
            <a href="/grades/act/{{ .GradeID }}">Actualizar</a>
        </li>
        {{ else }}
        <li>No hay calificaciones registradas para este estudiante.</li>
        {{ end }}
    </ul>
    <a href="/grades/new">Crear Nueva Calificación</a>

    <title>Lista de Materias</title>
</head>
<body>
    <h1>Lista de Materias</h1>
    <ul>
        {{ range .materias }}
        <li>
            <a href="/subjects/{{ .subject_id }}">{{ .subject_id }}: {{ .name }}</a>
            <form action="/escuela/subjects/{{ .subject_id }}" method="post" style="display:inline">
                <button type="submit">Eliminar</button>
            </form>
            <a href="/subjects/act/{{ .subject_id }}">Actualizar</a>
        </li>
        {{ else }}
        <li>No hay materias registradas.</li>
        {{ end }}
    </ul>
    <a href="/subjects/new">Crear Nueva Materia</a>
</body>
</html>
